#app {
    display: flex;
    justify-content: space-around;
}

body{
    background-color: rgb(213,218,250);
}

.column {
    margin-top: 20px;
    border: 1px solid gray;
    padding: 25px;
    width: 250px;
    background-color: rgba(77, 63, 241, 0.5);
    border-radius: 10px;
    box-shadow: 6px 9px 9px 0 rgba(14, 38, 80, 0.54);
}

.card {
    border: 1px solid gray;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 6px 9px 9px 0 rgba(0, 0, 0, 0.54);
    margin-top: 10px;
}

.title {
    font-family: sans-serif;
    font-size: 18px;

}

.anti-dots {
    list-style-type: none;
}

input {
    font-family: sans-serif;
    font-size: 16px;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

ul {
    padding: 0;
}

.but {
    background-color: rgb(53, 47, 136);
    box-shadow: 14px 9px 9px 0 rgb(22, 34, 59);
    margin-top: 20px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid gray;
}

p{
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

.form {
    height: 30px;
    width: 230px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 6px 9px 9px 0 rgba(0, 0, 0, 0.54);
}

.data {
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
}

.board {
    display: flex;
    gap: 20px;
}

.overdue {
    color: red;
}

.completed {
    color: green;
}

.add-card-form {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(253, 190, 207, .5);
    border-radius: 8px;
    box-shadow: 6px 9px 9px 0 rgba(0, 0, 0, 0.54);
}